@CHARSET "ISO-8859-1";
@import url("bootstrap.css");

.btn-default {
  color: #fff;
  background-color: #44c;
  border-color: transparent;
}
.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #44c;
  text-shadow: 0px 0px 10px 5px #008;
  border-color: transparent;
}
.btn-default:hover {
  color: #fff;
  background-color: #44c;
  text-shadow: 0px 0px 10px 5px #008;
  border-color: transparent;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  text-shadow: 0px 0px 10px 5px #008;
  border-color: transparent;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #008;
  text-shadow: 0px 0px 10px 5px #008;
  border-color: transparent;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.jumbotron {
	
}
.jumbotron:hover,
.jumbotron:focus {
	border-radius: 6px;
	box-shadow: 0px 0px 10px #666;
}
.jumbotron p {
	font-size: 16px;
	font-weight: 200;
}
@media screen {
	.jumbotron {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.container .jumbotron,
	.container-fluid .jumbotron {
		padding-top: 12px;
		padding-bottom: 12px;
		padding-right: 12px;
		padding-left: 12px;
	}
	.jumbotron h1,
	.jumbotron .h1 {
		margin-top: -12px;
		margin-bottom: 12px;
		padding-top: 12px;
		font-size: 24px;
	}
}

.navbar-default {
  background-color: #44c;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand > .active > a,
.navbar-default .navbar-brand > .active > a:hover,
.navbar-default .navbar-brand > .active > a:focus {
	color: #fff;
	background-color: #008;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  text-shadow: 0px 0px 10px 5px #008;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  text-shadow: 0px 0px 10px 5px #008;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #008;
}
.navbar-default .navbar-nav > .disabled > a {
	color:#888;
	background-color: #226;
	pointer-events: none;
}
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #888;
  background-color: #222;
  pointer-events: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #bbb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #bbb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #44c;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
	background-color: #44c;
	color: #fff;
}

.table > tbody > tr > th:hover {
	color: #fff;
	text-shadow: 0px 0px 10px 5px #008;
}

.table > thead > tr > td:hover,
.table > tbody > tr > td:hover,
.table > tfoot > tr > td:hover,
.table > thead > tr > td:focus,
.table > tbody > tr > td:focus,
.table > tfoot > tr > td:focus {
	background-color: #eee;
}    
.table > thead > tr > td.pending,
.table > tbody > tr > td.pending,
.table > tfoot > tr > td.pending,
.table > thead > tr > th.pending,
.table > tbody > tr > th.pending,
.table > tfoot > tr > th.pending {
  background-color: #ffffb0;
}
.table > thead > tr > td.pending:hover,
.table > tbody > tr > td.pending:hover,
.table > tfoot > tr > td.pending:hover,
.table > thead > tr > td.pending:focus,
.table > tbody > tr > td.pending:focus,
.table > tfoot > tr > td.pending:focus {
  background-color: #ffff40;
}
.table > thead > tr > td.approved,
.table > tbody > tr > td.approved,
.table > tfoot > tr > td.approved,
.table > thead > tr > th.approved,
.table > tbody > tr > th.approved,
.table > tfoot > tr > th.approved {
  background-color: #9fff80;
}
.table > thead > tr > td.approved:hover,
.table > tbody > tr > td.approved:hover,
.table > tfoot > tr > td.approved:hover,
.table > thead > tr > td.approved:focus,
.table > tbody > tr > td.approved:focus,
.table > tfoot > tr > td.approved:focus {
  background-color: #40ff40;
}
.table > thead > tr > td.denied,
.table > tbody > tr > td.denied,
.table > tfoot > tr > td.denied,
.table > thead > tr > th.denied,
.table > tbody > tr > th.denied,
.table > tfoot > tr > th.denied {
  background-color: #ff9999;
}
.table > thead > tr > td.denied:hover,
.table > tbody > tr > td.denied:hover,
.table > tfoot > tr > td.denied:hover,
.table > thead > tr > td.denied:focus,
.table > tbody > tr > td.denied:focus,
.table > tfoot > tr > td.denied:focus {
  background-color: #ff6060;
}
.table > thead > tr > td.cancelled,
.table > tbody > tr > td.cancelled,
.table > tfoot > tr > td.cancelled,
.table > thead > tr > th.cancelled,
.table > tbody > tr > th.cancelled,
.table > tfoot > tr > th.cancelled {
  background-color: #ddd;
}
.table > thead > tr > td.cancelled:hover,
.table > tbody > tr > td.cancelled:hover,
.table > tfoot > tr > td.cancelled:hover,
.table > thead > tr > td.cancelled:focus,
.table > tbody > tr > td.cancelled:focus,
.table > tfoot > tr > td.cancelled:focus {
  background-color: #bbb;
}
